
# Build outputs
# Dependencies
# Environment variables (보안)
# IDE
# Logs
# OS
# Test
*.local
*.swo
*.swp
.DS_Store
.env
.env.development.local
.env.local
.env.production
.env.production.local
.env.test.local
.idea/
.pnp
.pnp.js
.vscode/
Thumbs.db
coverage/
dist-ssr/
dist/
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
